@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
This website is operated by <a href="http://dmpokisk.webpages.auth.gr">dmpokisk</a> and are committed to protecting and preserving the privacy of our visitors when visiting our site or communicating electronically with us.
<p></p>
